:root {
    /* Color Palette */
  --primary-green: #495E57;
  --primary-yellow: #F4CE14;

  --secondary-orange: #EE9972;
  --secondary-peach: #FBDABB;

  --highlight-light: #EDEFEE;
  --highlight-dark: #333333;

   /* Typography */
  --font-primary: "Karla", sans-serif;
  --font-secondary: "Markazi Text", serif;

  /* Font Sizes */
  --display-title: 64px;
  --heading: 40px;
  --section-title: 20px;
  --body-text: 16px;

  /* Border Radius */
  --border-radius: 16px;

  /* Layout */
  --container-width: 1200px;

  /* Spacing */
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
}
